{% extends 'base.html' %}

{% block page_header %}{{ object.title }} - Detail Page {% endblock page_header %}

{% block content %}
<div class="container pt-4">
  <a href="{% url 'list' %}" class="text-decoration-none">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
    </svg>
    一覧へ
  </a>

  <div class="mt-5">
    <dl>
      <div class="mb-3">
        <dt class="text-muted">タイトル</dt>
        <dd class="fs-4 text-break">{{ object.title }}</dd>
      </div>
      <div class="mb-3">
        <dt class="text-muted">メモ</dt>
        <dd class="fs-5 text-break">{{ object.memo }}</dd>
      </div>
      <div class="mb-3">
        <dt class="text-muted">優先度</dt>
        <dd class="fs-5 text-break">
          {% if object.priority == 'danger' %}
              高
          {% elif object.priority == 'warning' %}
              中
          {% else %}
              低
          {% endif %}
        </dd>
      </div>
      <div class="mb-3">
        <dt class="text-muted">期限</dt>
        <dd class="fs-5 text-break">{{ object.deadline | date:"Y年n月j日" }}</dd>
      </div>
    </dl>
  </div>
</div>
{% endblock content %}
