{% extends 'base.html' %}

{% load widget_tweaks %}

{% block page_header %} Update Page {% endblock page_header %}

{% block content %}
<div class="container pt-4">
    <form action="" method="POST">{% csrf_token %}
        <div class="mb-5">
            <div class="mb-3">
                <label for="id_title" class="form-label">タイトル</label>
                {{ form.title|add_class:"form-control" }}
            </div>
            <div class="mb-3">
                <label for="id_memo" class="form-label">メモ</label>
                {{ form.memo|add_class:"form-control" }}
            </div>
            <div class="mb-3">
                <label for="id_priority" class="form-label">優先度</label>
                {{ form.priority|add_class:"form-select" }}
            </div>
            <div>
                <label for="id_deadline" class="form-label">期限</label>
                {{ form.deadline|add_class:"form-control" }}
            </div>
        </div>
        <input type="submit" value="更新" class="btn btn-primary">
    </form>
</div>
{% endblock content %}
